/* Импортируем дополнительные CSS-стили для сброса стилей для HTML CSS вёрстки нового проекта*/
@import "./reset.css";

/* Содержимое страницы */
.body {

    /* Шрифт */
    font-family: 'Roboto', sans-serif;

    /* Цвет фона */
    background-color: #FFFFFF;
}

/* Хэдер */
.header {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Выстраиваем флекс-элементы в колонну */
    flex-direction: column;

    /* Выравниваем внутренние элементы по центру */
    align-items: center;

    /* Прижимаем элементы к краям */
    justify-content: space-between;

    /* Минимальная высота */
    min-height: 180px;

    /* Ширина */
    width: 100%;

    /* Цвет фона */
    background-color: #FE4040;
}

/* Заголовок */
.title {

    /* Цвет */
    color: #FFFFFF;

    /* Начертание шрифта */
    font-weight: 700;

    /* Размер шрифта */
    font-size: 35px;

    /* Выравниваем текст по центру */
    text-align: center;

    /* Верхний внешний отступ */
    margin-top: 30px;
}

/* Форма для ввода тикера компании */
.form {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Выравниваем флекс-элементы по краям */
    justify-content: space-between;

    /* Ширина */
    width: 700px;

    /* Высота */
    height: 45px;

    /* Внешний нижний отступ */
    margin-bottom: 30px;

    /* Цвет фона */
    background-color: #FFFFFF;

    /* Закругление углов */
    border-radius: 6px;
}

/* Поле для ввода тикера компании */
.input {

    /* Растягиваем флекс-элемент на всё свободное пространство */
    flex-grow: 1;

    /* Внутренние отступы */
    padding: 15px;

    /* Начертание текста */
    font-weight: 400;

    /* Размер текста */
    font-size: 20px;

    /* Цвет текста */
    color: #5C0000;
}

/* Кнопка */
.button {

    /* Ширина */
    width: 140px;

    /* Высота */
    height: 100%;

    /* Фон */
    background: #5C0000;

    /* Закругление углов */
    border-radius: 6px;

    /* Начертание шрифта */
    font-weight: 700;

    /* Размер текста */
    font-size: 23px;

    /* Цвет текста */
    color: #FFFFFF;
}
